.main-content {
  min-height: calc(100vh - 64px) !important;
  width: 100% !important;
  position: relative !important;
  z-index: 1 !important;
  margin-top: 64px !important;
  padding: 0 !important;
}
